* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
}

header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

header nav img {
    margin: 3%;
    width: 20%;
}

header nav ul {
    float: right;
    padding-right: 3%;
}

header nav ul li {
    display: inline-block;
    padding: 50px 30px;
}

header nav ul a:hover {
    border-bottom: solid 1px rgb(255, 0, 0);
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-bottom: 5px;
    font-weight: 400;
}

header h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 25%;
    text-shadow: 0px 2px 2px black;
    color: #1383AB;
    font-weight: 500;
}

header h2 {
    text-align: center;
    margin-top: 1%;
    color: #1383AB;
    font-weight: 300;
}

.pijl {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding: 10px;
    padding-left: 18px;
    font-size: 3em;
    position: absolute;
    bottom: 5%;
    left: 48%;
    background-color: white;
    color: #1383AB;
    transform: rotate(90deg)
}

.pijl a {
    text-decoration: none;
    color: #1383AB;
}

section {
    overflow: hidden;
}

section figure {
    width: 50%;
    float: left;
    padding-left: 10%;
}

section figure img {
    width: 70%;
}

section article {
    width: 40%;
    float: left;
    padding: 5% 2.5%;
    padding-right: 5%;
}

section article h1 {
    color: #1383AB;
    font-size: 2em;
}

section article p {
    margin-top: 5%;
    color: #000000;
}

section article strong {
    font-weight: 600;
}

section article .blue {
    color: #3496d8;
}

main {
    padding: 5% 0%;
}

main aside {
    overflow: hidden;
}

main section {
    width: 40%;
    float: left;
    padding: 2%;
    text-align: center;
}

.liability {
    margin-left: 20%;
    display: list-item;
    list-style-type: square;
    padding: 2% 0%;
    text-align: center;
}

.asset {
    margin-left: -15%;
    display: list-item;
    padding: 2% 0%;
    text-align: center;
}

.liability li {
    text-align: left;
    list-style-type: square;
    padding: 2% 0%;
}

.asset li {
    text-align: left;
    list-style-type: square;
    padding: 2% 0%;
}

main section ul {
    display: inline-block;
}

main section header {
    text-align: center;
    background: none;
    height: inherit;
    margin-bottom: 5%;
}

main section header i {
    font-size: 5em;
    color: #3496d8;
    margin-bottom: 7%;
}

main section header h1 {
    font-size: 1.2em;
    margin: 0%;
    text-shadow: none;
    color: #1383AB;
    font-weight: 500;
}

main article {
    text-align: center;
    padding: 5% 20%;
}

main article h1 {
    font-size: 2em;
    color: #1383AB;
    padding-bottom: 2%;
}

main article p {
    margin-top: 3%;
    line-height: 1.5;
    text-align: center;
}

main>figure {
    overflow: hidden;
    padding-top: 5%;
}

main>figure>figure {
    width: 18.75%;
    margin-left: 5%;
    height: 36vw;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

main>figure>figure:nth-child(1) {
    background-image: url(../img/vastgoed.jpg);
}

main>figure>figure:nth-child(2) {
    background-image: url(../img/crypto.jpg);
}

main>figure>figure:nth-child(3) {
    background-image: url(../img/goud.jpg);
}

main>figure>figure:nth-child(4) {
    background-image: url(../img/beurs.jpg);
}

.blokje {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: ease 0.2s;
    cursor: pointer;
    border-bottom: solid 8px #fd3b00;
}

.blokje p {
    position: static;
    text-align: center;
    font-size: 2em;
}

.blokje a {
    color: #fd3b00;
    text-decoration: none;
}

figure>figure:hover .blokje {
    opacity: 1;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    margin-left: 2%;
    margin-bottom: 10%;
    margin-top: 5%;
    border: 1px solid grey;
    height: 20vw;
}

.column h2 {
    text-align: center;
}

.column p {
    text-align: left;
}

footer {
    background-color: rgb(161, 161, 161);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    padding: 5%;
    color: white;
}

footer h1 {
    font-size: 2em;
    border-bottom: 1px solid white;
    padding-bottom: 2%;
}

footer .lijntje {
    width: 170px;
    height: 5px;
    background-color: white;
}

footer a {
    margin-top: 5%;
    color: white;
    text-decoration: none;
}



input[type=text] {
    border: none;
    border: 1px solid white;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 185px;
}

input::placeholder {
    color: white;
}

input[type=submit] {
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    margin-left: 1%;
}

form {
    margin-top: 5%;
}

.vet {
    font-weight: 800;
}